<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header2.ejs %>
    <div class="container outer-container">
      <div class="container"><br /><br />
        <!-- <a href="/shelters">Back to Adoption Centers Page</a> -->
        <h5><%=shelter.name%></h5><br /><br />
        <div class="shelter-img">
          <img src=<%=shelter.img%> />
        </div>
        <p><%=shelter.location%></p>
        <p class="shelter-description"><%=shelter.description%></p><br /><br />
        <iframe src=<%=shelter.map%> width="450" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
