<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header2.ejs %>
    <div class="container">
      <div class="container">
        <!-- <a href="/shelters">Back to Adoption Centers Page</a> -->
        <h4><%=shelter.name%></h4>
        <div class="shelter-img">
          <img src=<%=shelter.img%> />
        </div>
        <p><%=shelter.location%></p>
        <p><%=shelter.description%></p>
        <iframe src=<%=shelter.map%> width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
