<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container outer-container">
        <!-- <a href="/posts">Back to Community Page</a> -->
        <h5><%=post.title%></h5>
        <img class="community-img" src=<%=post.img%> />
        <p class="post-text"><%=post.message%></p><br />
        <div class="edit-delete">
          <% if(currentUser) { %>
            <a class="edit" href="/posts/<%=post.id%>/edit">EDIT</a>
            <form action="/posts/<%=post.id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE">
            </form>
          <% } else { %>
        <% } %>
          <br />
        </div><br /><br />
        <div class="container">
          <p class="post-comment"><%=post.comment%></p><br />
          <div class="comment">
            <form class="col s12" action="/posts/<%=post.id%>?_method=PUT" method="POST">
              <div class="input-field">
                <input id="comment" type="text" name="comment">
                <label for="comment">write a comment</label>
              </div>
              <button class="btn waves-effect waves-light pink accent-3" type="submit" name="action">Submit
              </button>
            </form>
          </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
